@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /*padding and border are included in the width and height*/
    font-family: 'Poppins', 'sans-serif';
}

.main {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    /* x-axis */
    flex-direction: column;
    align-items: center;
    padding-bottom: 120px;
}

#logo {
    font-size: 56px;
    color: #0866ff;
    padding: 15px 0px;
}

.signup {
    background-color: #fff;
    width: 430px;    
    border-radius: 8px;
}

.heading {
    text-align: center;
    padding: 10px;
    border-bottom: 0.2px solid rgb(233, 227, 227);
}

.input-fields {
    display: flex;
    padding: 14.9px;
    justify-content: space-between;
    flex-wrap: wrap;   /*because the first and sur name should be constant at 50% width no need to adjust itself*/
    
}

input,select{
    padding: 8px;
    border: 0.2px solid rgb(233, 227, 227);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;  
    font-size: 14px;
}

.input-fields .half-width{
    display: flex;
    width: 48%;
}
.input-fields .full-width{
    display: flex;
    width: 100%;
}

label{
    font-size: 12px;
    color: #606770;
    padding-bottom: 10px;
}
.dob{
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.dob .quat{
    display: flex;
    width: 31%;
}

.dob .quat .radio{
    display: flex;
    border: 0.2px solid rgb(233, 227, 227); 
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}
.radio-level{
    padding-bottom: 0px;
    font-size: 15px;
}
.radio-input{
    margin: 0px;
    width: auto;
}
small{
    font-size: 13px;
    color:#777;
    padding-top: 11.75px;
}
.button{
    padding: 15px 0px;
    display: flex;    /* when you give the flex to the outer div you have to adjsut the width of the element*/
    width: 100%;
    justify-content: center;
}
.btn{
    border: 0px;
    background: green;
    color: white;
    padding: 8px 60px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.account{
    display: flex; 
    width: 100%;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 10px;
   

}